DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=counterapi
DB_PASSWORD=root

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=12

# Rate Limiting, 10 requests per 60s
RATE_LIMIT_INTERVAL_SECONDS=60
RATE_LIMIT_CAPACITY=10
RATE_LIMIT_KEY_PREFIX=counter-api-ratelimit


# Metrics Auth
METRICS_BASIC_AUTH=false
METRICS_BASIC_AUTH_USERNAME=admin
METRICS_BASIC_AUTH_PASSWORD=admin